* {
    background-color: #515151;
    color: white;
    font-family: sans-serif;
}

input::placeholder {
    color: #ffffff;
    opacity: .5;
}

.episodeButton {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: #b962c1;
    color: white;
    border: none;
    transition: all 0.25s ease-in-out;
}

.episodeButton:hover {
    background-color: #bb1cb0;
    transform: translateY(-5px);
}