@font-face {
  font-family: 'Montserrat';
  src: url('./renderer/assets/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;

  font-family: 'Montserrat-Bold';
}

body {
  background-color: #383c3b;
}

